<section class=parent id=parent>
<nav  class="btn btn-success">
    <a routerLink="/update-parent" routerLinkActive="active">Update Parent</a>
</nav>
</section>

<section class=book id=book>
    <nav class="btn btn-success">
        <a routerLink="/viewbook" routerLinkActive="active">View Book </a>
    </nav >
    </section>

    <section class=toy id=toy>
        <nav  class="btn btn-success">
            <a routerLink="/viewtoy" routerLinkActive="active">View Toy</a>
        </nav>
        </section>

        <section class=member id=member>
          <nav class="btn btn-success">
            <a routerLink="/viewmembershipType" routerLinkActive="active">View Membership</a>
        </nav>
        </section>

        <section class=lend id=lend>
            <nav class="btn btn-success">
                <a routerLink="/lendlist" routerLinkActive="active">View LendItems </a>
            </nav>
            </section>

            <section class=payment id=payment>
                <nav class="btn btn-success">
                    <a routerLink="/viewpayment" routerLinkActive="active">View Payment </a>
                </nav><br>
                <br><br>
                <nav class="btn btn-success">
                    <a routerLink="/insertpayment" routerLinkActive="active">Add Payment</a>
                </nav>
        
                </section>

