<section class=book id=book>
    <nav class="btn btn-success">
        <a routerLink="/viewbook" routerLinkActive="active">View Book </a>
    </nav >
    </section>

    <section class=toy id=toy>
        <nav  class="btn btn-success">
            <a routerLink="/viewtoy" routerLinkActive="active">View Toy</a>
        </nav>
        </section>
        

    <section class=lend id=lend>
        <nav class="btn btn-success">
            <a routerLink="/lendlist" routerLinkActive="active">View LendItems </a>
        </nav>
        </section>

