
<!-- <router-outlet></router-outlet> -->
 <!-- <app-insert-admin></app-insert-admin>  -->
<!-- <app-view-admin></app-view-admin>  -->
<!-- <app-update-admin></app-update-admin>  -->
<!-- <app-delete-admin></app-delete-admin> -->
<!-- <app-insert-membership-type></app-insert-membership-type> -->
<!-- <app-view-membership-type></app-view-membership-type> -->
<!-- <app-delete-membership-type></app-delete-membership-type> -->
<!-- <app-update-membership-type></app-update-membership-type> -->
<!-- <app-login></app-login> -->


<div style="text-align: center">
    ></div>
    <section class=admin id=adin>
    <nav class="btn btn-success">
        <a routerLink="/validatePassword" routerLinkActive="active">Admin Login </a>
    </nav>
    <nav class="btn btn-info">
        <a routerLink="/childlogin" routerLinkActive="active">Child Login</a>
    </nav>
    <nav class="btn btn-warning">
        <a routerLink="/parentlogin" routerLinkActive="active">Parent Login</a>
    </nav>
</section>
    <!-- <br>
    <br> <br>
    <hr>
<section class=admin id=admin>
    <nav class="btn btn-success">
        <a routerLink="/viewadmin" routerLinkActive="active">View Admin </a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/insertadmin" routerLinkActive="active">Add Admin</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/updateadmin" routerLinkActive="active">Update Admin</a>
    </nav >
    <nav class="btn btn-success">
        <a routerLink="/deleteadmin" routerLinkActive="active">Delete Admin</a>
    </nav>
</section>
    <br><br><br>
    <hr>
    <section class=book id=book>
    <nav class="btn btn-success">
        <a routerLink="/viewbook" routerLinkActive="active">View Book </a>
    </nav >
    <nav   class="btn btn-success">
        <a routerLink="/insertbook" routerLinkActive="active">Add Book </a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/update-book" routerLinkActive="active">Update Book </a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/deletebook" routerLinkActive="active">Delete Book </a>
    </nav>
</section>
    <br><br><br>
    <hr>
<section class=toy id=toy>
    <nav  class="btn btn-success">
        <a routerLink="/viewtoy" routerLinkActive="active">View Toy</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/insertoy" routerLinkActive="active">Add Toy</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/update-toy" routerLinkActive="active">Update Toy</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/deletetoy" routerLinkActive="active">Delete Toy</a>
    </nav>
</section>
    <br><br><br>
    <hr>
<section class=child id=child>
    <nav  class="btn btn-success">
        <a routerLink="/viewchild" routerLinkActive="active">View Child </a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/inserchild" routerLinkActive="active">>Add Child</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/update-child" routerLinkActive="active">Update Child</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/deletechild" routerLinkActive="active">Delete Child</a>
    </nav>
</section>
    <br><br><br>
    <hr>
<section class=parent id=parent>
    <nav  class="btn btn-success">
        <a routerLink="/viewparent" routerLinkActive="active">View Parent </a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/insertparent" routerLinkActive="active">Add Parent</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/update-parent" routerLinkActive="active">Update Parent</a>
    </nav>
    <nav  class="btn btn-success">
        <a routerLink="/deleteparent" routerLinkActive="active">Delete Parent</a>
    </nav>
</section>
    <br><br><br><hr>
    
    <section class=member id=member>
    <nav class="btn btn-success">
        <a routerLink="/insertmembershipType" routerLinkActive="active">Add Membership</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/viewmembershipType" routerLinkActive="active">View Membership</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/deletemembership" routerLinkActive="active">Delete Membership</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/updatemembership" routerLinkActive="active">Update Membership</a>
    </nav>
</section>
   <br>
    <br><br>
    <hr>
    <section class=lend id=lend>
    <nav class="btn btn-success">
        <a routerLink="/lendlist" routerLinkActive="active">View LendItems </a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/insertLend" routerLinkActive="active">Add LendItemst</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/lendput" routerLinkActive="active">Update LendItems</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/lenddel" routerLinkActive="active">Delete LendItems</a>
    </nav>
</section>
    <br>

    <br><br><hr>
    <section class=payment id=payment>
    <nav class="btn btn-success">
        <a routerLink="/viewpayment" routerLinkActive="active">View Payment </a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/insertpayment" routerLinkActive="active">Add Payment</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/update-payment" routerLinkActive="active">Update Payment</a>
    </nav>
    <nav class="btn btn-success">
        <a routerLink="/deletepayment" routerLinkActive="active">Delete Payment</a>
    </nav>
</section>
    <br>
    -->

    <router-outlet></router-outlet>

    
        
       
        